<div class="pagination text-lh-1-5">
    <ul>
        <li class="first"><a href="product.html">上一頁</a></li>
        <li><a href="product.html">1</a></li>
        <li><a href="product2.html">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="last"><a href="product.html">下一頁</a></li>
    </ul>
</div>