<nav class="container product-nav text-fm-rb">
    <ul>
        <li><a class="text-black" href="#">OPTICAL</a></li>
        <li><a class="text-black" href="#">SUNGLASSES</a></li>
        <li><a class="text-black" href="#">FUNCTIONAL</a></li>
    </ul>
</nav>