.product-header {
  ul {
    display: flex;
    width: 100%;
  }
  li {
    width: 100%;
  }
  img {
    // margin: 0 auto;
    min-height: 246px;
    @include pad {
      min-height: 186px;
    }
    @include phone {
      min-height: 126px;
    }
  }
}

.glasses-product {
  padding-top: 80px;
  padding-bottom: 80px;
  @include phone {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h2 {
    text-align: center;
  }

  .eng-title {
    font-size: 42px;

    @include phone {
      font-size: 24px;
    }
  }

  .chi-title {
    font-size: 32px;
    margin-bottom: 32px;
    @include phone {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .product-sum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-list {
    &-more {
      width: 24%;
    }
    &-less {
      width: 32%;
    }

    margin-bottom: 80px;

    img {
      margin: 0 auto;
      width: 100%;
    }
    @include pad {
      width: 48%;
      margin-bottom: 40px;
    }
    @include phone {
      margin-bottom: 24px;
      width: 100%;
    }
  }
  .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    li {
      width: 50%;
    }
    .number {
      text-align: left;
    }
    .price {
      font-family: "Roboto";
      text-align: right;
      color: $red-medium;
    }
  }

  .color {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    &-one {
      background: #5f3e2d;
    }
    &-two {
      background: #b75929;
    }
    &:hover {
      outline: none;
      outline-offset: 1px;
      outline: 2px solid $red-medium;
    }
  }
}
