.product-nav {
  ul {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    @include pad {
      font-size: 24px;
    }
    @include phone {
      font-size: 16px;
    }
  }
  li {
    width: 100%;
    &:not(:nth-child(2)) {
      border: 1px solid $gray-border;
    }

    // border-bottom: 8px solid $red-medium;
    &:nth-child(2) {
      border-top: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
    }
  }
  a {
    padding-top: 24px;
    padding-bottom: 24px;

    &:hover {
      padding-bottom: 16px;
      border-bottom: 8px solid $red-medium;
      text-decoration: none;
      transform: translateY(-2px);
      transition: 0.2s;
    }
    @include pad {
      padding-top: 16px;
      padding-bottom: 16px;
      &:hover {
        padding-bottom: 8px;
        border-bottom: 8px solid $red-medium;
      }
    }
  }
}
